
body {
  margin: none;
  padding: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color:black;
}

#container {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
  /* overflow: hidden; */
}